* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Navbar CSS */

.nav-container {
  display: flex;
  align-items: center;
  background-color: rgb(98, 98, 98);
}

.logo-left, .nav-center {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End of Navbar CSS */

/* Hero image section */
.hero-banner {
  background: white;
  height: 100vh;
  background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)), 
     url("../images/hero-image-ems.jpg");
  background-repeat: no-repeat;
  background-position: center;
  
}