* {
  box-sizing: border-box;
}

body {
  margin: 0 5%;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

/* Navbar CSS */

#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

#navBar h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  font-weight: 500;
}

#navLinks {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}

a {
 padding: 20px;
 text-decoration: none;
 color: black;
}

a:hover {
  transition-duration: 0.7s;
  color: rgb(110, 0, 194);
}

@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
}
/* End of Navbar CSS */

/* Hero image section */
.hero-banner {
  margin: 0px 5%;
  min-height: 500px;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)), 
     url("../images/hero-image-ems.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text{
  color: white;
}
.hero-text h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End of hero section */

/* About me section */
.aboutMe h2{
  text-align: center;
  padding: 20px;
}
.aboutMe p {
  text-align: center;
  margin: 0 5%;
}

#projectSubTitle {
  text-align: center;
  padding: 20px;
}

.projectList {
  margin: 0 5%;
  display: flex;
  justify-content: space-evenly;
}

.projects {
  height: 250px;
  width: 250px;
  border-radius: 5px;
}

.projects:hover {
  box-shadow: inset 0px 0px 3px, 0 0 8px;
  transform: scale(1.01);
}

#project1{
  background-image: url("https://placehold.co/600x400")
}

#project2{
  background-image: url("https://placehold.co/600x400")
}

#project3{
  background-image: url("https://placehold.co/600x400")
}

#project4{
  background-image: url("https://placehold.co/600x400")
}

.contact h2 {
  text-align: center;
  padding: 20px;
}
#contactDetails{
  margin: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Media queries */
@media screen and (max-width: 1000px) {
  .projectList, .navBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}